@import "./animation.scss";
@import "./window.scss";

@mixin light {
  --theme: light;
  --bar-width: 68px;
  /* color */
  --white: white;
  --white-2: white;
  --black: rgb(48, 48, 48);
  --gray: rgb(250, 250, 250);
  --td-bg-color-secondarycontainer: #f3f3f3;
  --primary-color: #8250df;
  --second-color: #fff;
  --third-color: #f8f3fd;
  --fourth-color: #c9f3cc;
  --chat-text-bg: #eee;
  --gray: #eee;
  --gray-2: #eee;
  --td-brand-color: #8250df;
  --td-brand-color-focus: #c0d8ff;
  --dark-gray: #8a8d90;
  --bg-color-1: #c9f3cc;
  --hover-color: #f3f3f3;
  --bar-color: rgba(0, 0, 0, 0.1);
  --theme-color: var(--gray);
  --subbar-bg: #f8f3fc;
  --item-select-color: rgb(236 220 253);
  --active-color: #8250df;

  /* shadow */
  --shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.05),
    0px 8px 10px 1px rgba(0, 0, 0, 0.06), 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
  --card-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);

  /* stroke */
  --border-in-light: 0.5px solid #dcdcdc;
}

@mixin dark {
  --theme: dark;
  --bar-width: 68px;
  --chat-text-bg: ffffff1a;
  /* color */
  --white: #1e1e1e;
  --black: rgb(187, 187, 187);
  --gray: #eeeeee14;
  --gray-2: #393939;
  --white-2: #393939;
  --td-brand-color: #8250df;
  --td-bg-color-secondarycontainer: #c0d8ff28;
  --td-brand-color-focus: #c0d8ff3e;
  --dark-gray: #ccc;
  --primary-color: #8250df;
  --second-color: rgb(27 38 42);
  --third-color: #f8f3fd;
  --fourth-color: #c9f3cc;
  --hover-color: #323232;
  --bg-color-1: #c9f3cc2b;
  --subbar-bg: #1e1e1e;
  --item-select-color: rgb(236 220 253 / 11%);
  --active-color: #ae87f6;

  --bar-color: rgba(255, 255, 255, 0.1);

  --border-in-light: 1px solid rgba(255, 255, 255, 0.192);

  --theme-color: var(--gray);

  div:not(.no-dark) > svg {
    filter: invert(0.5);
  }
}

.light {
  @include light;
}

.dark {
  @include dark;
}

.mask {
  filter: invert(0.8);
}

:root {
  @include light;

  --window-width: 90vw;
  --window-height: 90vh;
  --sidebar-width: 300px;
  --window-content-width: calc(100% - var(--sidebar-width) - 86px);
  --message-max-width: 80%;
  --full-height: 100%;
}

@media only screen and (max-width: 600px) {
  :root {
    --window-width: 100vw;
    --window-height: var(--full-height);
    --sidebar-width: 100vw;
    --window-content-width: var(--window-width);
    --message-max-width: 100%;
  }

  .no-mobile {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark;
  }
}
html {
  height: var(--full-height);
  font-family: "Noto Sans", "SF Pro SC", "SF Pro Text", "SF Pro Icons",
    "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  background-color: var(--gray);
  color: var(--black);
  margin: 0;
  padding: 0;
  height: var(--full-height);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  touch-action: pan-x pan-y;
  overflow: hidden;

  @media only screen and (max-width: 600px) {
    background-color: var(--second-color);
  }
}

::-webkit-scrollbar {
  --bar-width: 5px;
  width: var(--bar-width);
  height: var(--bar-width);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bar-color);
  border-radius: 20px;
  background-clip: content-box;
  border: 1px solid transparent;
}

select {
  border: var(--white);
  padding: 10px;
  border-radius: 6px;
  appearance: none;
  cursor: pointer;
  background: var(--white);
  color: var(--black);
  text-align: center;
}

label {
  cursor: pointer;
}

input {
  text-align: center;
  font-family: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #dcdcdc;
  background-color: #fff;
  outline: none;
  box-sizing: border-box;
  transition:
    border cubic-bezier(0.38, 0, 0.24, 1) 0.2s,
    box-shadow cubic-bezier(0.38, 0, 0.24, 1) 0.2s;
  display: flex;
  align-items: center;
  overflow: hidden;
}

input[type="checkbox"] {
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  appearance: none;
  border: var(--border-in-light);
  border-radius: 5px;
  height: 16px;
  width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked::after {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  content: " ";
  border-radius: 2px;
}

input[type="range"] {
  appearance: none;
  background-color: var(--white);
  color: var(--black);
}

@mixin thumb() {
  appearance: none;
  height: 8px;
  width: 20px;
  background-color: var(--primary-color);
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.3s;
  margin-left: 5px;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  @include thumb();
}

input[type="range"]::-moz-range-thumb {
  @include thumb();
}

input[type="range"]::-ms-thumb {
  @include thumb();
}

@mixin thumbHover() {
  transform: scaleY(1.2);
  width: 24px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  @include thumbHover();
}

input[type="range"]::-moz-range-thumb:hover {
  @include thumbHover();
}

input[type="range"]::-ms-thumb:hover {
  @include thumbHover();
}

input[type="number"],
input[type="text"],
input[type="password"] {
  appearance: none;
  border-radius: 6px;
  border: var(--border-in-light);
  min-height: 36px;
  box-sizing: border-box;
  background: var(--white);
  color: var(--black);
  padding: 0 10px;
  max-width: 50%;
  font-family: inherit;
}

input:focus-visible {
  outline: none;
}

input:focus,
textarea:focus,
select:focus {
  z-index: 1;
  border-color: var(--td-brand-color);
  box-shadow: 0 0 0 2px var(--td-brand-color-focus);
}

input:hover,
textarea:hover,
select:hover {
  border-color: var(--primary-color);
}

textarea,
select {
  display: flex;
  width: 100%;
  border-radius: 6px;
  border: var(--border-in-light);
  padding: 5px 10px;
  background-color: var(--white);
  resize: vertical;
  outline: none;
  overflow: hidden;
  transition:
    all cubic-bezier(0.38, 0, 0.24, 1) 0.2s,
    height 0s;
  box-sizing: border-box;
}

div.math {
  overflow-x: auto;
}

.modal-mask {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--full-height);
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 600px) {
    align-items: flex-end;
  }
}

.link {
  font-size: 12px;
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

pre {
  position: relative;

  &:hover .copy-code-button {
    pointer-events: all;
    transform: translateX(0px);
    opacity: 0.5;
  }

  .copy-code-button {
    position: absolute;
    right: 10px;
    top: 1em;
    cursor: pointer;
    padding: 0px 5px;
    background-color: var(--black);
    color: var(--white);
    border: var(--border-in-light);
    border-radius: 6px;
    transform: translateX(10px);
    pointer-events: none;
    opacity: 0;
    transition: all ease 0.3s;

    &:after {
      content: "copy";
    }

    &:hover {
      opacity: 1;
    }
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
  &:focus {
    filter: brightness(0.95);
  }
}

.error {
  width: 80%;
  border-radius: 20px;
  border: var(--border-in-light);
  box-shadow: var(--card-shadow);
  padding: 20px;
  overflow: auto;
  background-color: var(--white);
  color: var(--black);

  pre {
    overflow: auto;
  }
}

.password-input-container {
  max-width: 50%;
  display: flex;
  justify-content: flex-end;

  .password-eye {
    margin-right: 4px;
  }

  .password-input {
    min-width: 80%;
  }
}

.user-avatar {
  height: 40px;
  min-height: 40px;
  width: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 21px;
  overflow: hidden;
}

.avatar-item {
  display: flex;
}

.avatar-desc {
  font-size: 12px;
  color: var(--dark-gray);
  padding: 0 6px;
  background: var(--gray);
  border-radius: 3px;
  height: 22px;
  line-height: 22px;
  margin-top: 4px;
  transform: scale(0.8);
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copyable {
  user-select: text;
}

.tag {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  padding: 0px 8px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid transparent;
  white-space: nowrap;
}

.tag-default {
  background-color: var(--td-bg-color-secondarycontainer);
}

.margin-right-1 {
  margin-right: 10px;
}
